[bumpversion]
current_version = 0.3.7
commit = True
tag = True

[bumpversion:file:src/lionweb/__init__.py]

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"
